<div ng-controller="searchController" class="bgimage" style="margin-top:-20px">
	<div  style="padding-top:10%" class="container col-xs-10 col-sm-6 col-sm-offset-3 
									col-md-6 col-md-offset-3  col-lg-6  col-lg-offset-3">
		<h1 style="color:white">查找学校</h1>
		<fieldset  class="panel panel-default form-wrapper">
		  	<div class="panel-body">
				<form role="form">
				    <div class="form-group col-sm-5 col-md-5">
				      <label for="sel1">城市</label>
				      <edit-drop-down options='schoolCities' ng-model='selectedCity'></edit-drop-down>
				    </div>

				    <div class="form-group col-sm-5 col-md-5">
				    	<label for="sel1">学校名字</label> 
				     	<input type="text" style="width:100%;" 
				     	class="input-lg form-control form-text ui-autocomplete-input" 
				     	ng-model="schoolName" 
				     	placeholder="输入学校名字"  
				     	uib-typeahead="name for name in names | filter:$viewValue"
			 			aria-autocomplete="list" aria-haspopup="true">
				    </div>

				    <div class="form-group col-sm-2 col-md-2">
				    	<div style="margin-top:25px">
				     	<a class="btn btn-info btn-lg" ui-sref="showSchools({name:schoolName,city:selectedCity})" > 
				     	<span class="glyphicon glyphicon-search"></span> 查找</a>
				     	</div>
				    </div>
				</form>
			</div>
		</fieldset>
	</div>	
</div>