<div class="container">
	<div  class="jumbotron">
	    <div class="row center-content-row">
		    <div class="col-md-3">
		       <img ng-src="{{ school.logo }}" class="img-thumbnail" alt="Cinque Terre" > 
		    </div>
		   <div class="col-md-9">
		      <h2>{{  school.name }}</h2>
		      <static-star ng-if="school.score" score="school.score" max="5" style="margin-left:-25px"></static-star>
	          <a ng-click="addReview()">点评</a>
	          <a ng-click="checkReviews()">查看{{school.reviewCount}}条评论</a>
		      <div>
			      区域: {{school.province}} {{school.city}} {{school.area}}
			      </br>
			      地址: {{ school.address }}
			      </br>
			      电话: {{ school.phone}}
			      </br> 
			      标签: {{ school.catagery }} {{school.schoolType}} {{school.level}} {{school.logo}}
		      </div>
		    </div>
		</div>
	</div>

	<uib-tabset justified="true" active='activeIndex'>
	    <uib-tab index="0" heading="学校介绍">
	    	<div ng-include="'showSchool/info/info.html'">
	    	</div>
	    </uib-tab>
	    <uib-tab index="1" heading="评价">
	    	<div ng-include="'showSchool/review/review.html'">
	    	</div>
	    </uib-tab>
	    <uib-tab index="2" heading="相册">
	    	<div ng-include="'showSchool/gallery/gallery.html'">
	    	</div>
	    </uib-tab>
	</uib-tabset>

</div>
