
<div ng-controller="review">
 
  <div id="newReview">
      <h2>点评</h2>
      <div class="well row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
            <myrating score="newReview.generalScore" max="5" topic="总体点评 *:" note="点击星星为学校打分"> </myrating>  
            <myrating score="newReview.teacherScore" max="5" topic="师资 *:" note="为老师点评"> </myrating> 
            <myrating score="newReview.facilityScore" max="5" topic="硬件设施 *:" note="为硬件设施点评"> </myrating> 
            <myrating score="newReview.studentScore" max="5" topic="校风 *:" note="为校风点评"> </myrating>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:20px">
              <textarea rows="6" class="form-control" ng-model="newReview.content" ng-click="clearText()" ng-class="commentClass()"></textarea>
              <br>
              您是: 
               <label>
                <input type="radio" ng-model="newReview.role" value="父母">
                父母
              </label>
              <label>
                <input type="radio" ng-model="newReview.role" value="学生">
                学生
              </label>

              <label>
              <input type="radio" ng-model="newReview.role" value="老师">
                老师
              </label>
              <label>
              <input type="radio" ng-model="newReview.role" value="其他">
                其他
              </label>

              <button class="btn btn-warning pull-right" ng-click="addReview()">{{submitButtonText}}</button> 
        </div>
      </div>
  </div>


  <div id="fullReview">
    <hr><h2>评价</h2>  
    <div ng-repeat="item in school.reviews" class="row comment">    
      <show-one-review review="item"></show-one-review>
    </div>
    
  </div>
</div>
