.rating {
  font-size: 175%;
  padding: 0 0.5em;
  display: inline-block;
  width: 180px;
  text-align: right;
}
.rating .rating-highlight,
.rating.rating-highlight:hover {
  color: #f1c40f;
}
.rating .rating-normal,
.rating.rating-normal:hover {
  color: #f4914e;
}
.rating > a {
  text-decoration: none;
}

.reviewTopic {
	display: inline-block;
	width: 70px;
	text-align: right;
}

.warning {
     color: red;
    display: inline-block;
    text-align: left;
}

.commentContent{
  padding: 15px;
  border-bottom:1px solid #ccc;
}

.comment img {
    width:100%;
    border-radius:50%;
    margin-top: 15px;
}

.smallNote{
  color: #8c8c8c;
}

p.reviewContent{
  margin-top: 15px;
  margin-bottom: 15px;
}

.bgimage {
background: url(../education.jpg) center center no-repeat;
background-size: cover;
min-height: 700px;
}

.searchResult {
  margin-bottom: 15px;
  margin-top: 15px;
}

.emptyComment{
  color: red;
}

.search-panel{
  height: 200px;
}

.form-control{
  height: 46px; 
}

[for=sel1]{
  color: #337ab7;
}

.center-content-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
}

.center-content-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.debug {
  background: #FFC6AA;
}

.debug2 {
  background: blue;
}

