
<div ng-controller="schoolInfoController">
 
  <div id="newReview">
      <hr><h2>点评</h2>
      <div class="well row">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <rating score="newReview.generalScore" max="5" topic="总体点评*:" note="点击星星为学校打分"> </rating>  
            <rating score="newReview.teacherScore" max="5" topic="师资:" note=""> </rating> 
            <rating score="newReview.facilityScore" max="5" topic="硬件设施:" note=""> </rating> 
            <rating score="newReview.studentScore" max="5" topic="校风:" note=""> </rating>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <textarea rows="6" class="form-control" ng-model="newReview.content" ></textarea>
              <br>
              <button class="btn btn-default pull-right" ng-click="addReview()">Submit</button> 
        </div>
      </div>
  </div>


  <div id="fullReview">
    <hr><h2>评价</h2>  

    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 pull-right row">    
    			<div ng-repeat="review in schoolInfo.reviews" class="well"> 

             <show-rating score="review.generalScore" max="5" style="margin-left:-30px"></show-rating> 
            <span>师资: {{review.teacherScore}}</span> &nbsp;
            <span>硬件设施: {{review.facilityScore}}</span> &nbsp;
            <span>校风: {{review.studentScore}}</span>
           
             <br><br>
      			 {{review.content}}
      			     <br><br>
    	  			 <div class="pull-right">- {{review.from}}<div>
    			</div>
    </div>
  </div>
</div>
