.rating {
  font-size: 175%;
  padding: 0 0.5em;
  display: inline-block;
  width: 180px;
  text-align: right;
}
.rating .rating-highlight,
.rating.rating-highlight:hover {
  color: #f1c40f;
}
.rating .rating-normal,
.rating.rating-normal:hover {
  color: #f4914e;
}
.rating > a {
  text-decoration: none;
}

.reviewTopic {
	display: inline-block;
	width: 60px;
	text-align: right;
}

.reviewNote {
	display: inline-block;
	text-align: left;
}

.debug {

  background: #FFC6AA;
}

.debug2 {

  background: #4A6B89;
}

.debug3 {

  background: yellow;
}