<div class="container">

    <div style="margin-left:15px" >
        找到{{schoolsCount}}所学校
    </div>
    
    <div ng-repeat="school in schools | startFrom:currentPage*pageSize | limitTo:pageSize" class="row">
    	<div class="col-xs-8 col-sm-8 col-md-8 searchResult">
    		<div class="col-md-3">
    			<img ng-src="{{ getLogo(school.logo) }}" class="img-thumbnail" alt="Cinque Terre" width="250" height="250"> 
    		</div>
    		<div class="col-md-8">
    			<a ui-sref="showSchool.Info({schoolId:school._id.$oid})"><h4>{{school.name}}</h4></a>
    			<p> {{school.address}}</p>
                <static-star score="getScore(school.reviews)" max="5" style="margin-left:-25px"></static-star> 
                <a ui-sref="showSchool.review({schoolId:school._id.$oid})">See all {{getReviewsCount(school.reviews)}} reviews</a>

    		</div>
    	
    	</div>
    </div>
    <div style="text-align:right">
         <div>Page: {{currentPage}} / {{numPages}} </div>
         <pagination total-items="schoolsCount" ng-model="currentPage" max-size="maxSize" num-pages="numPages"></pagination >
        
    </div>
</div>