<div class="container">
  <fieldset ng-controller="showSchoolsController" class="panel panel-default form-wrapper">
    <div id="search" class="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <label>城市</label>
          <select class="form-control form-select" ng-model='selected.city' ng-change='getAreas()'
            ng-options="city for city in schoolCities"></select>
        </div>
        <div class="form-group">
          <label>学校名字</label>
          <input type="text" ng-model="selectedName" placeholder="输入学校名字" class="form-control form-text ui-autocomplete-input" typeahead="name for name in schoolNames | filter:$viewValue"
                aria-autocompletse="list" aria-haspopup="true">
        </div>
        <div class="form-group">
          <a class="btn btn-primary btn-lg" ui-sref="showSchools({name:selected.name,city:selected.city,
          area:selected.area, level:selected.level, type: selected.type})"> 
            查找学校
          </a>
        </div>
      </form>
       <div>
          <label>区域</label>
          <span ng-repeat='area in areas'>
            <input type="checkbox" checklist-model="selected.area" checklist-value="area"> {{area}}
          </span>
        </div>
        <div>
          <label>阶段</label>
          <span ng-repeat="level in levels">
            <input type="checkbox" checklist-model="selected.level" checklist-value="level"> {{level}}
          </span>
        </div>
        <div>
          <label>属性</label>
          <span ng-repeat='type in schoolTypes'>
            <input type="checkbox" checklist-model="selected.type" checklist-value="type"> {{type}}
          </span>
        </div>
    </div>
  </fieldset>

  {{selected.name}} 
  {{selected.city}}
  {{selected.area}}
  {{selected.level}}

  {{selected.type}}
    
  <div style="margin-left:15px" >
      找到{{schools.length}}所学校
  </div>
  <div ng-repeat="school in schools | startFrom:(currentPage-1)*pageSize | limitTo:pageSize" class="row">
  	<div class="col-xs-8 col-sm-8 col-md-8 searchResult">
          <div class="col-md-3">
  			<img ng-src="{{school.logo}}" class="img-thumbnail" alt="Cinque Terre" width="250" height="250"> 
  		</div>         
  		<div class="col-md-8">
  			<a ui-sref="showSchool({schoolId:school.id})"><h4>{{school.name}}</h4></a>
              <static-star ng-if="school.score" score="school.score" max="5" style="margin-left:-25px"></static-star> 
              <p> {{getReviewsCount(school.reviews)}}条评论</p>
              <p> 地址: {{school.address}}</p>
  		</div>
  	
  	</div>
  </div>
  <div style="text-align:right">
       <div>Page: {{currentPage}} / {{numPages}} </div>
       <pagination total-items="schools.length" ng-model="currentPage" max-size="maxSize" num-pages="numPages"></pagination >
  </div>
</div>